BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 125

BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true

AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
