BasedOnStyle: LLVM
IndentWidth: 4

BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterEnum: true
  AfterStruct: true
  BeforeElse: true
  BeforeCatch: true

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
